html, body {
    padding: 0;
    margin: 0;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 85% 5%;
    gap: 3px;
    height: 100%;
    padding: 0;
}

main {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 50px 0 0 0;
}

header, footer {
    margin: 0;
    height: fit-content;
    padding: 0;
    grid: span 1;
}